.black{
    background-color: green;
}
.white{
   background-color: white;
  
}
th{
   height: 50px;
   width: 50px;
}
i
{
   font-size: 30px;
}
div
{
   width: 500px;
   height: 500px;
   padding: 10px 50px 80px;
   border: 2px solid black;
}